@media (max-width: 969px) {
  body {
    .header-area {
      .nav-area {
        padding: 14px 20px 0px 20px !important;
        .mobile-menu {
          width: 29px;
          display: block !important;
          z-index: 1100;
          cursor: pointer;
        }
        .nav-list {
          display: none !important;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          position: absolute;
          background-color: black;
          right: 0;
          top: 0;
          width: 100%;
          height: 100vh;
          z-index: 1000;
          text-align: center;

          li {
            padding-right: 30px;
            padding-bottom: 32px;
            a {
              color: white !important;
              &::after {
                bottom: -10px !important;
              }
            }
          }
          #requestBtn {
            margin-top: 20px;
          }
          &.active {
            display: flex !important;
          }
        }
      }
    }
    .hero-section {
      .hero-intro{
padding-left: 10px;
      }
    }
    .services{
      .service{
        
        max-width: 400px;
        margin: 0 auto 40px;
        .service-icon{
          margin-bottom: auto;
        }
      }
      .second-services {
        margin-top: 0px!important;
      }
    }
    .why-choose-us{
    .work{
      margin-bottom: 70px!important;
      img{
        margin-bottom: 15px!important;
      }
      .subtext{
        margin-bottom: 10px;
      }
    }
  }
  }
}
